body {
    display: flex;
    height: 100%;
    width: 100%;
}

#sidebar {
    height: 100%;
    width: 20rem;
    display: flex;
    flex-direction: column;
}

#sidebar > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}